<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Prueba inicio</h2>
     
    <form>
        <label>Nombre</label><input><br><br>
        <label>Apellido</label><input><br><br>
        <label>Cedula</label><input><br><br>
        <label>Primer lugar de trabajo</label><input><br><br>
        <label>Fecha de ingreso</label><input><br><br>
        <label>Fecha de retiro</label><input><br><br>
        <button onclick="register_user()"> Registro </button>
    </form>
        
</body>

</html>